@import 'grapesjs/dist/css/grapes.min.css';


.gjs {
    &-cv-canvas {
        top: 0;
        width: 100%;
        height: 100%;
    }

    &-block {
        width: auto;
        height: auto;
        min-height: auto;
    }
}