// Core
@import './editor';
@import './grapes';
@import './panel';

$primary: dodgerblue;
$secondary: crimson;

html {
    font: {
        size: 16px;
        family: sans-serif;
    }

    line-height: 1.4;
}

body {
    margin: 0;
    height: 100vh;
}


.gjs-sm-sector .gjs-sm-field input,
.gjs-sm-sector .gjs-sm-field select,
.gjs-two-color {
    color: #333;
}


.navbar {
    &__columns {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        align-items: center;
    }

    &__column-split {
        display: inline-block;
        height: 20px;
        line-height: inherit;
        width: 1px;
        background-color: #dedede;
        margin: 0 5px;
    }
}

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__navbar {
        box-shadow: 0 0 10px silver;
        
    }

    &__columns {
        display: flex;
        height: calc(100% - 4em);
        z-index: 9;
    }

    &__sidebar {
        flex-basis: 300px;
        background-color: #ededed;
        overflow-y: scroll;
        height: 100%;
    }

    &__main {
        flex-grow: 1;
    }
}


@mixin button-theme($color) {
    border-color: $color;
    background-color: $color;


    &:hover {
        $temp: darken($color, 10);
        border-color: $temp;
        background-color: $temp;
    }

    &:active {
        $temp: darken($color, 15);
        border-color: $temp;
        background-color: $temp;
    }
}


.button {
    font: {
        size: 0.9em;
        font-family: sans-serif;
    }

    transition: {
        timing-function: ease;
        duration: 0.1s;
        property: (border-color,
                background-color,
            );
    }

    border: {
        width: 1px;
        style: solid;
        color: transparent;
        radius: 0.25em;
    }

    outline: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;

    cursor: pointer;
    line-height: inherit;

    display: inline-block;

    padding: 0.7em 1.3em;

    &:disabled {
        cursor: not-allowed;
    }

    &.-primary {
        @include button-theme($primary);
        color: white;
    }

    &.-secondary {
        @include button-theme($secondary);
        color: white;
    }

    &.-basic {
        @include button-theme(white);
        color: #999;
    }
}

#block-manager,
.gjs-blocks-cs {
    height: 100%;
}

.gjs-block {
    color: #333;
    padding: 0;
    border: 0;
}

.block-element {
    background-color: white;
    padding: 2em;
    border-radius: 0.25rem;


    &__text {
        margin-top: 1em;
    }
}

.gjs-blocks-c {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .7em;
}

.gjs-one-bg {
    background-color: transparent;
}

