// Core
@import './editor';
@import './grapes';
@import './panel';


.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#app {
    border: 3px solid #444;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
}
