doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document

        link(rel='stylesheet' href='../source/style/main.scss')

    body
        .wrapper
            .panel__top
                .panel__basic-actions
                .panel__switcher

            .editor-row
                .editor-canvas: #app

                .panel__right
                    .layers-container
                    .styles-container
            #blocks

        script(src='../source/script/main.ts')
